<h1> TODO: </h1>
<form [formGroup]="priorityFilter" (ngSubmit)="filter()">
  <label for="priority">
    Filter by priority:
  </label>
  <input id="priority" type="text" formControlName="priority">
  <button class="button" type="submit">filter</button>
  </form>

<div>
  <table>
    <tr><th>entry</th><th>due date</th><th>priority</th></tr>
    <tr *ngFor="let entry of entries; index as i">
      <td>{{entry.entry}}</td><td>{{entry.dueDate | date:'short'}}</td> <td> {{entry.priority}}</td> <td><button (click)=delete(entry.id)>delete</button></td>
      <td><button (click)=edit(entries[i])>edit</button></td>
    </tr>
  </table>
    <div>
      <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <td>
        <label for="entry">
          Entry:
        </label>
        <input id="entry" type="text" formControlName="entry">
        </td>

        <td>
          <label for="dueDate">
            Date
          </label>
          <input id="dueDate" type="date" formControlName="dueDate">
        </td>
    
        <td>
          <label for="priority">
            Priority
          </label>
          <input id="priority" type="text" formControlName="priority">
        </td>
        <button class="button" type="submit">{{ isEdit? 'update' : 'add'}}</button>
      </form>
    </div>
</div>
<router-outlet></router-outlet>
